* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

header {
  background: #f0fff0;
  padding-top: 20px;
}

.nav-item {
  color: black;
  font-size: 16px;
  font-weight: normal;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  margin: 0px 12px;
}

.nav-item:hover {
  transform: scale(1.1);
  color: black;
}

#nav-btn {
  font-size: 16px;
  background: #21b573;
  padding: 12px 28px;
  border-radius: 33px;
  border: none;
  margin: 0px 15px;
  transition: 0.3s ease-in-out;
  backface-visibility: hidden;
}

#nav-btn:hover {
  transform: scale(1.1);
  backface-visibility: hidden;
}
#mynavbar {
  margin: 0 6rem 0 6rem;
}

.banner {
  padding-top: 80px;
  padding-bottom: 70px;
  background-color: #f0fff0;
}

.banner-paragraph {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #fd511a;
}

.banner-heading {
  font-size: 48px;
  line-height: 70px;
  color: #000000;
  font-weight: bold;
}

.banner-heading span {
  font-size: 48px;
  line-height: 70px;
  font-weight: bold;
  color: #21b573;
}

.banner-paragraph-2 {
  font-weight: normal;
  font-size: 16px;
  line-height: 36px;
  color: #6c6b6b;
}

.banner-btn {
  padding: 12px 36px;
  background: #21b573;
  border-radius: 33px;
  transition: 0.3s ease-in-out;
  border: none;
}

.banner-btn:hover {
  transform: scale(1.1);
  background: #21b580;
}

.second-part {
  padding: 50px 0px;
}

.icon-box {
  width: 260px;
  height: 270px;
  background: #f0fff0;
  border-radius: 10px;
  margin-left: 2%;
  margin-top: 2%;
  transition: all 0.25s ease-in-out;
}

.icon-box:hover {
  transform: scale(1.05);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
  background: white;
}

.icon {
  width: 60px;
  height: 85px;
}

.icon-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  color: #413960;
  padding-top: 20px;
}

.icon-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #585859;
}
